@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0,5s;
}
.header {
    width: 100vw;
    height: 10vh;
    background: black;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: "Science Gothic", sans-serif;
    font-size: 9px;
}
.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.left img, .right img{
height: 60px;
}
.main {
    width: 100%;
    color: black;
    display: flex;
}
/* .aside {
    width: 20%;
    
    background: silver;
} */
.listado {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedor {
    width: 380px;
    height: 370px;
    border: solid .5px rgb(212, 209, 209);
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-family: Verdana;
    font-size: 8px;
    
}
.codigo{
    height: 5vh;
    color: rgb(160, 156, 156);
}
.nombre_p {
    height: 10vh;
    font-family:monospace;
    font-size: 18px;
    font-weight: bold;
    color: cadetblue;
}
.linea_p {
font-variant: small-caps;
    font-size: 14px;
    color: rgb(112, 110, 111);
    font-weight: bold;
}
.description_p {
    height: 20vh;
    
    
}
.prod_img {
   
    max-height: 20vh;
   object-fit: contain;
    
}
.cont_valores {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo {
    height: 25px;
    font-size: 12px;
    letter-spacing: 1px;
}
.valores {
    display: flex;
    flex-direction: row;
    height: 20px;
    justify-content: space-between;
    align-items: baseline;
    width: 70%;
}
.presentacion {
    display: flex;
    font-size: 13px;
}
/* .price_list p {
    height: 5px;
    font-size: 20px;
} */
.price_list {
    font-size: 13px;
    text-decoration: line-through;
    
    
}
.price_final {
    font-family:monospace;
    font-size: 18px;
    font-weight: bold;
    height: 20vh;
    color: #1ac90d;
    letter-spacing: .5px;
}
.price_final_e {
   font-family:monospace;
    font-size: 18px;
    font-weight: bold;
    height: 20vh;
    color: #f15e3d;
    letter-spacing: .5px;
}
.price_final_t{
    font-family:monospace;
    font-size: 18px;
    font-weight: bold;
    height: 20vh;
    color: #5684cf;
    letter-spacing: .5px;
}

.footer {
    width: 100%;
    height: 10vh;
    background: black;
    color:silver;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
}