@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.swiper {
  width: 100%;
  height: 200px;
  max-width: 800px;
}
.swiper img{
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.swiper-button-next, .swiper-button-prev {
  display: none !important;
}
.swiper-scrollbar {
  display: none;
}
.valores{
  color: silver;
  font-size: .5rem;
  letter-spacing: 0;
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  width: 100%;
  background: black;
  height: 90px;
  position: fixed;
  z-index: 2000;
}
.portada {
  display: flex;
  max-width: 1000px;
  
  justify-content: baseline;
  flex-wrap: wrap;
  margin: 0 auto;
}
.portada img {
  width: 18%;
  padding: 10px 0;
  filter: opacity(40%);
  transition: 0.5s;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  max-width: 1200px;
  margin: 0 auto;
  
}
.logo {
  display: flex;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
}
.nav-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 45px;
  display: none;
  margin-right: 20px;
  cursor: pointer;
}
.uil-bars {
  display: none;
}
.uil-times {
  display: none;
}
.uil-visible {
  display: block;
}
.nav-menu {
  display: flex;
  margin-right: 20px;
  left: 100%;
  transition: 1s;
}
.nav-menu_visible {
  left: 0;
}
.nav-menu-link {
  color: white;
  margin-left: 15px;
  text-transform: uppercase;
  transition: 0.5s;
  font-size: 12px;
}
.nav-menu-link:hover {
  color: #8121db;
}
main {
  width: 80%;
  font-size: 11px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 3px;
}
.contenedor_cont {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  
}
.servicios {
  min-height: 2500px;
  
}
.horario_caja{
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.contenedor_cont p {
  text-align: left;
}
.contenedor_tit {
  font-size: 1.6rem;
  font-weight: bold;
}
.giftcard_img img {
  width: 80%;
  height: 250px;
  object-fit: contain;
}
.gift_paquetes {
  display: flex;
  
}
.comprar {
  align-items: center;
}
.comprar p{
  font-weight: bold;
  background: rgba(218, 165, 32, 0.623);
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}
.gift_paquetes a {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: bold;
  padding: 0 20px;
  background: rgb(166, 166, 166);
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
}

.footer {
  width: 100%;
  background: rgb(133, 133, 133);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2000;
}
.contenedor-footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 7.5px 0;
  color: white;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer i {
  font-size: 45px;
  color: white;
}
.footer a {
  display: flex;
  align-items: center;
}
.separador {
  width: 100%;
  height: 1px;
  background: silver;
  
}
.horario p {
  text-align: center;
}
.horario, .pet {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.horario i {
  font-size: 5rem;
}
.pago p {
  text-align: center;
}
.pet p{
  text-align: left;
}
.pago {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pago i {
  font-size: 5rem;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons i {
  font-size: 5rem;
}

.form {
  background: silver;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
}
.form1,
.form2,
.form3,
.form4,
.form5 {
  padding: 10px 0;
}
.form button {
  width: 400px;
  height: 40px;
  border: none;
  background: black;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}
#contacto input {
  width: 400px;
  border-radius: 5px;
  color: white;
  text-align: center;
  border: none;
}
#contacto textarea {
  width: 400px;
  padding: 15px 0;
  text-align: center;
  border: none;
}
@media (max-width: 990px){
  .contenedor_cont {
    height: 1100px;
  }
  .gift_paquetes a {
       font-size: 1.5rem;
  }

}
@media (max-width: 750px) {
  .nav-toggle {
    display: block;
  }
  .nav-menu {
    flex-direction: column;
    position: fixed;
    top: 90px;
    background: rgba(0, 0, 0, 0.616);
    width: 100%;
    height: calc(100vh - 175px);
    align-items: center;
    justify-content: space-around;
  }
  .contenedor_cont {
    height: 1000px;
  }

  .servicios  {
    height: 2500px;
  }
  .gift {
    height: 1500px;
  }

  .gift_paquetes {
    display: flex;
    flex-direction: column;
  }
  .portada img {
    width: 30%;
    padding: 20px 0;
  }
  .form button {
    width: 300px;
  }
  #contacto input {
    width: 300px;
  }
  #contacto textarea {
    width: 300px;
  }
  .portada {
    max-width: 400px;
}
}